<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="All Test Suite" parallel="tests" verbose="3">

    <!-- start first Test  -->
    <test parallel="methods" name="my hub spot test chrome" thread-count="5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.MyTests.LoginTest" />
        </classes>
    </test><!-- End first Test  -->



<!--    <test name="my hub spot test firefox" parallel="methods" thread-count="5">-->
<!--          <parameter name="browser" value="ff"/>-->
<!--    <classes>-->
<!--        <class name="com.MyTests.LoginTest"></class>-->
<!--    </classes>-->
<!--   </test>-->




</suite>